a.arrow-link {
  border: 1px solid var(--gt-navy);
  color: var(--gt-navy);
  padding: 1em 4em 1em 1em;
  display: inline-block;
  position: relative;
  background-image: url('/themes/custom/gt_custom/images/cil_arrow-right.svg');
  background-repeat: no-repeat;
  background-position: right 1em center;
}

a.arrow-link:hover {
  background-color: #f0f0f0;
}


.gt-container.container {
  margin-bottom: 1em;
}

.views-element-container nav {
  margin-top: 1em;
}

#views-exposed-form-art-installations-page-1 {
  margin: 1em 0;
}

#views-exposed-form-art-installations-page-1 .form-checkboxes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#views-exposed-form-art-installations-page-1 .js-form-type-checkbox {
  width: 20%;
  min-width: 200px;
}

#views-exposed-form-art-installations-page-1  .form-actions input{
  background-color: var(--gt-gold);
  border: none;
  color: white;
  padding: 0.5em 1em;
}

ul.pagination .active>.page-link,
ul.pagination .page-link.active {
  background-color: var(--gt-gold);
  border-color: var(--gt-gray);
}
.field--name-field-category .field__item a {
  text-decoration: underline;
  font-weight: normal;
}
.field--name-field-category .field__item a:hover {
  color: var(--gt-gold);
}

.field--name-field-category .field__items > .field__item::after {
  content: ",";
}
.field--name-field-category .field__items > .field__item:last-child::after {
  content: "";
}

.banner-section .layout__region--content .field_block.title {
    background: var(--gt-black);
    background-image: url('../images/stripes-bg.svg');
    background-repeat: repeat;
    background-size: auto .9rem;
    overflow: hidden;
}
.banner-section .field_block.title {
  padding: 50px 15px 30px;
  font-family: var(--font-roboto-condensed);
  font-size: 34px;
  color: var(--gt-white);
  font-weight: 700;
}

.video-embed-field-responsive-video {
  aspect-ratio: 4/3;
}

/* EOF for git */
