<div class="banner-wrapper black cbi-hero-block">
  <div class="chb-content-wrapper">
    <div class="image">
      {{ image }}
    </div>
    <div class="text">
      <h2>{{ title }}</h2>
      <div class="genre">{{ genre }}</div>
      <div class="abstract">{{ abstract }}</div>
    </div>
  </div>
</div>
