.field--name-field-category .field__item {
  display: inline-block;
  margin-right: 0.2em;
}
body div.main-container a.art-btn {
  background: var(--gt-drk-gold);
  color: var(--gt-white);
  display: block;
  width: 100%;
}
body div.main-container a.art-btn.display-inline {
  display: inline;
  margin: 1em 0;
}

.views-view-responsive-grid__item {
  align-content: stretch;
}
.views-view-responsive-grid__item-inner {
  border-radius: 5px;
  border: 1px solid #e0e0e0;
  height: 100%;
  overflow: hidden;
}

article.art-inst-custom {
  display:flex;
  flex-direction: column;
  height: 100%;
}
article.art-inst-custom .art-ins-text {
  padding: 1em;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

article.art-inst-custom h2 {
  margin: 0;
}
article.art-inst-custom h2 a {
  text-decoration: none;
  color: var(--gt-navy);
  font-size: 1.5rem;
}
article.art-inst-custom .field--name-field-category {
  flex-grow: 1;
}

article.art-inst-custom .view-button {

}

/* EOF for git */
